*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.aar
!/lib/*.jar
!/lib/*.war
!/lib/*.ear
!/lib/*.aar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/target
/features/target
/features/resources/.classpath
/features/resources/.settings
/features/resources/.project
/features/resources/target/
/framework/.classpath
/framework/.settings
/framework/.project
/framework/target/
